<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>0.1.0</string>
	<key>ServerApiVersion</key>
	<string>3.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>Default Dimmer Level</string>
	<key>CFBundleName</key>
	<string>Default Dimmer Level</string>
	<key>CFBundleIdentifier</key>
	<string>com.morris.default-dimmer-level</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://forums.indigodomo.com/viewforum.php?f=331</string>
		</dict>
	</array>
	<key>GithubInfo</key>
	<dict>
		<key>GithubRepo</key>
		<string>Indigo-Dimmer-Default</string>
		<key>GithubUser</key>
		<string>kmarkley</string>
	</dict>
</dict>
</plist>
